* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  --main-text-color: #e5b90a;
  --main-color-light: #e2c037;
  --background-dark: #2d2e2e;
  --background-grey: #4b4b4b;
  --background-light-grey: #797979;
  --text-color: #1a1a1a;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: var(--background-dark);
  position: relative;
  z-index: 1;
  height: 55px;
}

.nav-list {
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav-item {
  padding-right: 20px;

}

.nav-link {
  text-decoration: none;
  color: var(--main-text-color);
  display: inline-block;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: rgb(238, 47, 40);
  transform: scale(1.2, 1.2);
}

.fa-bars {
  display: none;
}

.main {
  background-color: var(--background-light-grey);
}

.main-columns {
  display: flex;
}

.wrap-left {
  width: 40%;
  background-color: var(--background-grey);
}

.wrap-right {
  width: 60%;
}

.foto-block::before {
  content: '';
  display: block;
  background-color: var(--main-color-light);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: -125px;
  top: -84px;
}

.foto-block {
  border: 3px solid var(--background-light-grey);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  margin: 55px auto 55px auto;
  padding: 3px;
  position: relative;
}

.foto {
  width: 250px;
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--background-light-grey);
}

.circle{
  width:30px;
  height:30px;
  background:#ffeb3bad;
  border-radius:50%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  margin:auto;
  animation: circle 8s linear infinite;
}

@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-145px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-145px)
              rotate(-360deg);
  }
}

.name {
  font-family: "Lobster Two", cursive;
  border-bottom: 1.5px solid #e3e3e3;
  padding-top: 100px;
  padding-bottom: 25px;
  padding-left: 18%;
  font-size: 50px;
  color: var(--main-text-color);
}

.profession {
  font-weight: 400;
  color: var(--text-color);
  padding-top: 6px;
  padding-left: 35%
}

@media (max-width: 690px) {
  .nav-bar {
    color: var(--main-text-color);
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 21px;
    transition: color 0.3s;
  }

  .nav-bar:hover {
    color: rgb(238, 47, 40);
    transform: scale(1.2, 1.2);
    cursor: pointer;
  }

  .nav-list {
    flex-direction: column;
    position: absolute;
    border: 2px solid var(--main-color-light);
    top: 55px;
    right: -26vh;
    width: 170px;
    background-color: var(--background-dark);
    height: 230px;
    padding: 10px;
    justify-content: space-around;
    align-items: end;
    transition: right 1s;
  }

  .move {
    right: 0vh;
  }

  .main-columns {
    flex-direction: column;
  }

  .wrap-left, .wrap-right {
    width: 100%;
  }

  .foto-block {
    margin-bottom: 20px;
  }

  .name {
    padding-top: 24px;
    font-size: 34px;
    padding-bottom: 5px;
  }

  .profession {
    font-size: 16px;
    padding-left: 25%;
    padding-bottom: 40px;
  }
}